// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titlearea{
    height:35px;
    width:40px;
    margin: 20px 220px;
 
}
.title{
    margin: 20px 220px;
}
 
.textarea{
     width:40px;
     height: 160px;
     margin: 20px 220px;
}

.botan{
    margin: 20px 220px;
}